{% extends "base.html" %}
{% load markdown_extras %}

{% block subtitle %} 主頁 {% endblock %}


{% block content %}
			<!-- Banner -->
				<section id="banner">
					<!--
						".inner" is set up as an inline-block so it automatically expands
						in both directions to fit whatever's inside it. This means it won't
						automatically wrap lines, so be sure to use line breaks where
						appropriate (<br />).
					-->
					<div class="inner">

						<header>
							<h2>Yoyo 教室</h2>
						</header>
						{{ hero | markdown | safe }}
						<footer>
							<ul class="buttons stacked">
								<li><a href="{{ link }}" class="button fit scrolly">報名試堂</a></li>
							</ul>
							<ul class="buttons stacked">
								<li><a href="#courseInfo" class="button fit scrolly">課程資訊</a></li>
							</ul>
						</footer>
					</div>
				</section>
				<br/>
				<!-- Subsection -->
				<section class="wrapper style1 container special">
					<div class="row">
						<!-- Course Info (minimum 3) -->
						{% for item in courseInfoList %}
							<div class="col-4 col-12-narrower" id="courseInfo">
								<section>
									<span class="icon solid featured fa-check"></span>
									<header>
										<h3>{{item.title}}</h3>
									</header>
										{{ item.info | markdown | safe }} 
								</section>
							</div>
						{% endfor %}
					</div>
				</section>
{% endblock %}